.datagrid {
  height: 400px;
  border: 1px solid #eee;
  color: #666;
  font-size: 12px;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.fixed-grid {
  border: none;
}

.fixed-grid-left {
  border-right: 1px solid #eee;
}

.fixed-grid-right {
  border-left: 1px solid #eee;
}

.datagrid th,
.datagrid td {
  padding-left: 15px;
  padding-right: 15px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 150px;
  text-overflow: ellipsis;
  height: 32px;
}

.datagrid th {
  position: relative;
  border-right: 1px solid #eee;
  background: #f8f8f8;
}

/* 在 macOS 和 iOS 的 Safari 中，必须给 tr 而不是 th 设置 border-bottom，
 * 不然 th 的 border-bottom 会在滚动时离奇消失……
 */
.datagrid thead tr {
  border-bottom: 1px solid #eee;
}

.datagrid th:last-child {
  border-right: none;
}

.datagrid td {
  text-align: center;
}

.datagrid tbody tr:nth-child(2n) {
  background: #f9f9f9;
}

.datagrid tbody tr.hover-row {
  background: #f3f3f3;
}

.datagrid tbody tr.selected-row {
  background: #19d4ae;
  color: #fff;
}

.datagrid .asc,
.datagrid .desc {
  position: absolute;
  right: 0;
}
